body {
    background-color: rgba(36, 117, 240, 0.822);
  }
  .box {
    height: 100px;
    width: 100px;
    background-color: black;
    position: relative;
    top: 5px;
    left: 5px;
    cursor: pointer;
  }
  
  .held {
    border: solid 10px black;
    background-color: black;
  }
  
  .holder {
    height: 110px;
    width: 110px;
    margin: 10px;
    border: solid 5px black;
    background-color: white;
    display: inline-block;
  }
  
  .hovered {
    border: dotted 5px black;
  }
  
  .invisible {
    display: none;
  }
  
  #container {
    margin: auto;
    top: 100px;
    width: 400px;
    position: relative;
  }