body {
    background-color: rgba(36, 117, 240, 0.822);
  }
  #mydiv {
    position: absolute;
    z-index: 9;
    text-align: center;
   
  }
  
  #mydivheader {
  height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: black;
      position: relative;
      top: 5px;
      left: 5px;
      cursor: pointer;
  }

  table, td {
    border: 1px solid black;
  }
  .node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}