




body {margin:0;}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}


b{
color: rgb(230, 215, 215);

}
.header_text{
  text-shadow: 1px 1px 1px rgb(129, 86, 86),
             2px 2px 1px rgba(40, 38, 42, 0.63);
  position: relative;
  top: 150px;
  left: 30%;
  color: rgb(133, 99, 187);
}

.body_text{
  text-shadow: 1px 1px 1px rgb(129, 86, 86),
             2px 2px 1px rgb(48, 30, 78);
  position: relative;
  top: 5%;
  left: 40%;
  color: rgb(133, 99, 187);

}


#header_text b {
  color: white;

}
.rectangle{
  position: static;
  height: 25%;
  width: 100%;
  bottom: 50px;
  background-color: rgba(31, 32, 49, 0.486);
}


.login_button{

  position: relative;
  left: 43%;
  top: 90px;
}


body {
 
    background-color: rgba(53, 66, 85, 0.822);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
hr{
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    border-color: #EC7357;
}

div.buttons{
  display: inline-block;
  margin-right: 20px;
  margin-top: 1.1em;
  left: 20px;
}
div.buttons a{
  position: relative;
  left: 700px;
  top: 80px;
    width: 550px;
    height: 50px;
    padding-top: 1.6em;
    margin-bottom: 1.1em;
   /* margin: 0 auto 25px auto; */
    background-color: rgb(116, 136, 184);
    color: #754F44;
    border: 3px solid #EC7357;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;

}

div.buttons a:hover{
    background-color: rgb(90, 170, 133);
    cursor: pointer;
}



#footer a:hover{
    color: #EC7357;
}



#header img{
    border-radius: 3px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 900px;
    height: 250px; 
    bottom: -900px;
}
img.left_img{
  position: relative;
  width: 400px;
  height: 280px;
  top: 160px;
  left: 13%;
}
img.right_img{
  position: relative;
  width: 400px;
  height: 280px;
  top: 160px;
  left: 50%;
}



#body_images img{
  position: absolute;
   margin-top: -440px; 
   right: 10px;
   left: 400px;
  width: 70%;
  height: 450px; 

  border: 3px solid #73AD21;

}

#header h1{
    font-family: 'Source Code Pro', 'Roboto', monospace; 
    color: #EC7357; 
    text-align: center;
    font-size: 2.5em;
}


#footer{
position: relative;
bottom: 5px;
}

#footer ul{
    
    margin: 0px auto 0px auto;
    text-align: center;
}

#footer li{
    display: inline;
    margin: 0px 5px;
}

#footer a{
    color: rgb(230, 117, 25);
    bottom: -100px;
    text-decoration: none;
    font-weight: bolder;
}

#footer a:hover{
    color: rgb(255, 255, 255);
}


body {font-family: Arial, Helvetica, sans-serif;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Set a style for all buttons */
button {
  position: relative;
  background-color: #4CAF50;
  color: white;
  top: -70px;
  left: -10px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
img.avatar {
  width: 40%;
  border-radius: 50%;
}
.container {
  padding: 16px;
}
span.psw {
  float: right;
  padding-top: 16px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
}
/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* .main_description{
  column-count: 2;
  column-width: 10px;
  column-gap: 50px;
  background-color: rgba(255, 255, 255, 0.527);
  position: relative; 
  right: 0%;
} */
.text_description{
  text-shadow: 1px 1px 1px rgb(129, 86, 86),2px 2px 1px
   rgb(48, 30, 78);
   color: rgb(212, 189, 255);


}