
.rectangle{
  position: static;
  height: 25%;
  width: 100%;
  bottom: 50px;
  background-color: rgba(31, 32, 49, 0.486);
}

b{
  color: rgb(230, 215, 215);
  
  }
  .header_text{
    text-shadow: 1px 1px 1px rgb(129, 86, 86),
               2px 2px 1px rgba(40, 38, 42, 0.63);
    position: relative;
    top: 150px;
    left: 30%;
    color: rgb(133, 99, 187);
  }
.render_button {
  position: relative;
  top: 300px;
  left: 800px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(35, 40, 83);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(29, 30, 39);
}

.render_button:hover {background-color: #2f3064}

.render_button:active {
  background-color: #2b3168;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.train_button {
  position: relative;
  top: 400px;
  left: 530px;
  width: 250px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(35, 40, 83);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(29, 30, 39);
}

.train_button:hover {background-color: #2f3064}

.train_button:active {
  background-color: #2b3168;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.reset_button {
  position: relative;
  top: 600px;
  left: 280px;
  width: 250px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: rgb(35, 40, 83);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(29, 30, 39);
}

.reset_button:hover {background-color: #2f3064}

.reset_button:active {
  background-color: #2b3168;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }




  #mydiv {
    position: absolute;
    z-index: 9;
    text-align: center;
   
  }
  
  #mydivheader {
  height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: black;
      position: relative;
      top: 5px;
      left: 5px;
      cursor: pointer;
  }

  table, td {
    border: 1px solid black;
  }
  .link {
    stroke: #aaa;
  }
  
  .node text {
  stroke:#333;
  cursos:pointer;
  }
  
  .node circle{
  stroke:#fff;
  stroke-width:3px;
  fill:#555;
  }

  