


  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }




  #mydiv {
    position: absolute;
    z-index: 9;
    text-align: center;
   
  }
  
  #mydivheader {
  height: 50px;
      width: 50px;
      border-radius: 50%;
      background-color: black;
      position: relative;
      top: 5px;
      left: 5px;
      cursor: pointer;
  }

  table, td {
    border: 1px solid black;
  }
  .link {
    stroke: #aaa;
  }
  
  .node text {
  stroke:#333;
  cursos:pointer;
  }
  
  .node circle{
  stroke:#fff;
  stroke-width:3px;
  fill:#555;
  }

  